<p class="overflow__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum distinctio eos
    voluptatum cupiditate et
    repellendus incidunt illum quo quos quidem quis rem vero quae aperiam voluptatibus laboriosam dicta sapiente
    minima temporibus sit corrupti, expedita est. Ipsum quibusdam voluptatem perferendis sapiente excepturi
    laboriosam voluptas commodi. Illo tempora dolores in voluptatum pariatur voluptatem libero ipsam qui
    expedita quia dolor eveniet iste, nulla beatae necessitatibus eos nisi. Saepe quia dignissimos maiores eos.
    Exercitationem, rem? Veritatis deserunt temporibus optio illo voluptatum, ratione distinctio animi neque
    saepe et magni rerum nostrum ipsa delectus omnis fuga minima tempora, aperiam quo accusamus quaerat vero
    quasi. Eveniet, odio?</p>