<div class="position__container">
    <div class="position__container__box box1">1</div>
    <div class="position__container__box box2">2</div>
    <div class="position__container__box box3">3</div>
</div>
<div class="full-blown-container">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt atque saepe tempore alias, ea quos magni
        sapiente pariatur vel iste maiores quis nam non corrupti cupiditate, at omnis autem blanditiis velit fugit
        esse, asperiores eum cumque aliquid. Perferendis cum fugit repudiandae voluptatum architecto, nemo corporis
        quibusdam excepturi dicta enim numquam, fugiat et aut recusandae magnam libero tempore ipsam similique amet
        nulla qui, labore explicabo! Molestiae illum hic unde cum cupiditate sit quaerat dolores quos. A quaerat
        reprehenderit doloribus, consequatur quod porro. Blanditiis repellendus, nulla perferendis quos dolore
        ipsam, saepe maxime sequi expedita ad numquam fugiat quaerat sit! Tempore, ratione aliquam.</p>
    <button class="sticker">I will become sticky when u reach me</button>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque a ex quidem, vitae culpa magnam libero.
        Impedit dignissimos sapiente expedita voluptatibus cum tempore cumque voluptas beatae explicabo ut et, iusto
        omnis quidem, ullam deserunt sed ea autem consequatur dolore sint, dolores id voluptatem recusandae
        excepturi. Modi omnis enim, debitis iusto nemo laborum natus amet libero atque. Culpa debitis a rem corrupti
        tenetur! Architecto numquam aliquid aut expedita eligendi explicabo neque et, omnis porro molestiae iusto,
        optio dicta at itaque ex delectus nemo est? Reprehenderit rem necessitatibus dolorum laboriosam, praesentium
        eius repellendus! Mollitia nostrum magni recusandae soluta explicabo nihil est delectus, incidunt,
        laudantium id adipisci deserunt eius. Possimus adipisci nobis odit tempore magnam eligendi? Porro ullam
        natus, odio voluptas sunt neque. Similique, facere temporibus. Culpa, et obcaecati amet repellat repellendus
        quisquam eum officiis reiciendis dolorem quod maiores cum beatae voluptates fuga natus consequatur delectus
        debitis dolore maxime magnam sapiente nostrum! Mollitia eum, culpa quasi minus corrupti amet quos sit.
        Deleniti sunt dignissimos dolore eum quidem totam repellat temporibus hic, labore harum magni provident
        incidunt aperiam ex cum doloremque libero neque dicta deserunt quaerat culpa. Rerum eos suscipit deleniti?
        Dolor asperiores iste maiores impedit, quia, nulla, nam ipsum quod temporibus odio minus? Nihil totam, vitae
        quidem quia modi nobis nisi saepe hic mollitia assumenda quos harum aliquid voluptas amet sapiente
        voluptatum id tempore distinctio, numquam laborum reprehenderit consequuntur! Perspiciatis beatae ut
        voluptates eius consectetur unde nemo! Magnam quidem deserunt dolorem illum. Natus molestias iste
        doloremque! Atque sunt mollitia aliquam officia, ducimus cupiditate vitae ullam eaque architecto ut quia
        accusantium beatae labore deserunt nostrum corporis! Reiciendis libero rerum fugiat officia laboriosam sit
        quisquam perferendis, exercitationem asperiores commodi eum tempora harum veritatis quas possimus! Illum
        ipsum repellendus nesciunt fugit iusto exercitationem facilis itaque sunt! Sequi eaque quas quasi ad magni
        dignissimos blanditiis reprehenderit nesciunt ipsum vero, sit libero. Totam a ad aut earum quasi voluptas
        quis numquam dolorem iste reiciendis exercitationem non nesciunt impedit perferendis placeat aperiam
        repudiandae suscipit, in temporibus obcaecati ullam. Perspiciatis iure nam dignissimos repudiandae accusamus
        fuga pariatur quo vero sed cupiditate aspernatur dolore ratione, quod ut libero iusto omnis perferendis sint
        dolorem cum facere non qui eum. Sunt iste optio enim facilis dolores, aliquid odit distinctio asperiores
        dolore rerum consectetur corrupti, ducimus, quibusdam aspernatur. Similique qui atque recusandae dolorum
        veritatis nam enim adipisci aperiam explicabo sint impedit voluptatem optio earum in fugiat cupiditate ab
        quidem, consectetur natus facere? Quidem, adipisci?</p>
</div>